/* .subtitle{

}*/
input{
    width: 300px;
    height: 15px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
}


.title {
    width: 300px;
    height: 15px;
    border-radius: 10px;
    padding: 5px;
}


.criarProduto {
    width:100%;
    display: flex;
    justify-content: center ;
}
form{
    width: 40%;
}


.Produto{
    border: 1px solid black;
    width: 52%;
    height: 420px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: white;
    margin-bottom: 30px;
}

.submit{
    width: 100px;
    height: 24px;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #f5f5f5;
    border: 0;
    font-size: 15px;
    cursor: pointer;
    text-align: center;

}
.submit:focus {
    outline: none;
}

.submit:active {
    transform: scale(0.95);
}